.idc-right,
#IDCColumnURLLabel .idc-column,
#idc-container .idc-right,
#IDCColumnURL .idc-column {
  z-index: -1;
  display: none;
}

#idc-container-paren,
#idc-container div div div,
#idc-container .idc-c .idc-time a,
#idc-container .idc-c-m .idc-form-info,
#idc-container .idc-message {
  color: $text !important;
}

#idc-container div.idc-text_noresize,
#idc-container textarea.idc-text_noresize {
  font-size: medium;
  color: black;
  width: 100% !important;
}


#idc-container {
  font-size: medium;
}