{% extends "default.njk" %}

{% block content %}
	<h1>All Posts</h1>
	{% for year, posts in  pagesByYear %}
		{% if year != 2001 %}
		<h1>{{ year }}</h1>
		<ul>
			<div class="list">
				{% for post in posts %}
					<li><a href="{{ post.url }}">{{ post.title }} (<span class="date">{{ post.date }}</span>)</a></li>
				{% endfor %}
			</div>
		</ul>
		{% endif %}
	{% endfor %}
{% endblock %}