{% extends "default.njk" %}

{% block content %}
{{ content | safe }}
<h2>Pieces in this Collection</h2>
<div class="list">
	<ul>
		{% for p in site.pages %}
		{% if p.poem_collection %}
		{% if p.poem_collection == collection_name %}
		<li><a href="/{{ site.baseUrl }}/{{ p.location }}">{{ p.title }} (<span class="date">{{ p.date}}</span>)</a>
		</li>
		{% endif %}
		{% endif %}
		{% endfor %}
	</ul>
</div>
{% endblock %}