<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    {% if title %}{{ title }} | {{ site.title }} {% else %}{{ site.title }}{% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/{{ site.baseUrl }}/assets/images/favicon.ico">
  <link rel="stylesheet" href="/{{ site.baseUrl }}/assets/css/main.css">
  <script type="text/javascript" src="/{{ site.baseUrl }}/assets/js/scroll.js"></script>
  {% include "includes/google-analytics.html" %}
</head>
<body>
  {% include "includes/nav.html" %}
  <header>
    <p>{{ title }} {% if display_date == null %}<span class="date"> - {{ date }}</span>{% endif %}</p>
  </header>
  <div class="main-content">
    {% block content %}{% endblock %}
    <aside>
      {% include "includes/tags.html" %}
    </aside>
    {% block footer %}{% endblock %}
    <aside>
      {% include "includes/all-tags.html" %}
      {% include "includes/bio.html" %}
    </aside>
  </div>

  {% include "includes/footer.html" %}
</body>

</html>