{% extends "default.njk" %}

{% block content %}
<h1>Recent Posts</h1>
<div class="list">
	<ul>
		{% set recentPages = site.pages %}
		<li><a href="{{ recentPages[0].url }}">{{ recentPages[0].title }} (<span class="date">{{ recentPages[0].date }}</span>)</a></li>
		<li><a href="{{ recentPages[1].url }}">{{ recentPages[1].title }} (<span class="date">{{ recentPages[1].date }}</span>)</a></li>
		<li><a href="{{ recentPages[2].url }}">{{ recentPages[2].title }} (<span class="date">{{ recentPages[2].date }}</span>)</a></li>
		<li><a href="{{ recentPages[3].url }}">{{ recentPages[3].title }} (<span class="date">{{ recentPages[3].date }}</span>)</a></li>
		<li><a href="{{ recentPages[4].url }}">{{ recentPages[4].title }} (<span class="date">{{ recentPages[4].date }}</span>)</a></li>
	</ul>
</div>
<a style="margin-bottom: 2em" href="/{{ site.baseUrl }}/blog">View all posts</a>
{% endblock %}