{% extends "default.njk" %}

{% block content %}
{{ content | safe }}
{% endblock %}

{% block footer %}
{% include "includes/return-to-collection.html" %}
{% include "includes/comments.html" %}
{% endblock %}