{% extends "default.njk" %}

{% block content %}
<div class="list">
	<ul>
		{% for p in site.pages %}
		{% for t in p.tags %}
		{% if tag == t %}
		<li><a href="{{ p.url }}">{{ p.title }} (<span class="date">{{ p.date  }}</span>)</a><br>
		</li>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</ul>
</div>
{% endblock %}