{% extends "default.njk" %}

{% block content %}
<div class="list">
	<ul>
		{% for p in site.pages %}
		{% if p.tags in tag %}
		<li><a href="/{{ site.baseUrl }}/{{ p.location }}">{{ p.title }} (<span class="date">{{ p.date  }}</span>)</a><br>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>
{% endblock %}